// --------------- BODY ----------------------------
*
  +reset
  font: 1em/1.375em $body-font
  -webkit-font-smoothing: antialiased !important
  letter-spacing: 0.063rem
  box-sizing: border-box

body
  position: relative
  overflow-x: hidden

// --------------- BANNER --------------------------
body
  header
    text-align: center
    .banner
      img
        height: 90vh
        width: 100%
        padding-top: 90px
    .title
      text-align: justify
      position: absolute
      top: 80vh
      left: 17vw
      background-color: #6DCED6
      padding: 20px 50px
      h2
        +h2
        font-family: $lora
        color: white
      h4
        +h4
        font-family: $lora
        color: white


// --------------- MAIN CONTENT --------------------------
.body
  margin: 150px auto
  width: 70vw
  p
    color: $font-color



// ------------------- MEDIA QUERIES --------------------
//------------- IPHONE 5
+breakpoint(s-mobile)
  .wrapper
    overflow-x: hidden
    .title
      left: 0
    .body
      p
        width: 100%
        margin: -10px -10px
        font-size: 0.9em

//------------- IPHONE 6 --------------
+breakpoint(mobile)
  .wrapper
    overflow-x: hidden
    .title
      left: 0
    .body
      p
        width: 100%
        margin: -10px -10px
        font-size: 0.9em



//------------- IPHONE 6 PLUS--------------
+breakpoint(mobile-plus)
  .wrapper
    overflow-x: hidden
    .title
      left: 0
    .body
      p
        width: 100%
        margin: -10px -10px
        font-size: 0.9em


//------------- IPAD PRO-------------
+breakpoint(ipad-pro)
  .wrapper
    overflow-x: hidden
    header
      .title
        top: 85vh
