// --------------- BODY ----------------------------
*
  +reset
  font: 1em/1.375em $body-font
  -webkit-font-smoothing: antialiased !important
  letter-spacing: 0.063rem
  box-sizing: border-box

body
  position: relative
  overflow-x: hidden


// --------------- GALLERRY --------------------------
body
  .gallery
    display: flex
    width: 45%
    margin: 20vh auto
    img
      margin: 20px
      height: 300px
      width: 300px

// ------------------- MEDIA QUERIES --------------------
//------------- IPHONE 5 ------------------------------
+breakpoint(s-mobile)
  .wrapper
    overflow-x: hidden
    .gallery
      width: 100%
      img
        height: 100px
        width: 100px

//------------- IPHONE 5 LANDSCAPE------------------------------
+breakpoint(s-mobile-land)
  .wrapper
    overflow-x: hidden
    .gallery
      width: 77%
      img
        height: 100px
        width: 100px


//------------- IPHONE 6 -----------------------------
+breakpoint(mobile)
  .wrapper
    overflow-x: hidden
    .gallery
      width: 100%
      img
        height: 140px
        width: 140px

//------------- IPHONE 6 LANDSCAPE-----------------------------
+breakpoint(mobile-land)
  .wrapper
    overflow-x: hidden
    .gallery
      width: 83%
      img
        height: 140px
        width: 140px



//------------- IPHONE 6 PLUS -----------------------------
+breakpoint(mobile-plus)
  .wrapper
    overflow-x: hidden
    .gallery
      width: 100%
      img
        height: 160px
        width: 160px


//------------- IPHONE 6 PLUS  LANDSCAPE -----------------------------
+breakpoint(mobile-plus-land)
  .wrapper
    overflow-x: hidden
    .gallery
      width: 84%
      img
        height: 160px
        width: 160px


//------------- IPAD -----------------------------
+breakpoint(ipad)
  .wrapper
    overflow-x: hidden
    .gallery
      width: 75%
      img
        height: 240px
        width: 240px

//------------- IPAD LANDSCAPE -----------------------------
+breakpoint(ipad-land)
  .wrapper
    overflow-x: hidden
    .gallery
      width: 56%
      img
        height: 240px
        width: 240px


//------------- IPAD PRO -----------------------------
+breakpoint(ipad-pro)
  .wrapper
    overflow-x: hidden
    .gallery
      width: 75%
      img
        height: 300px
        width: 300px


//------------- IPAD PRO LANDSCAPE-----------------------------
+breakpoint(ipad-pro-land)
  .wrapper
    overflow-x: hidden
    .gallery
      width: 76%
      img
        height: 300px
        width: 300px
