// --------------- BODY ----------------------------
*
  +reset
  font: 1em/1.375em $body-font
  -webkit-font-smoothing: antialiased !important
  letter-spacing: 0.063rem
  box-sizing: border-box

body
  position: relative
  overflow-x: hidden

// --------------- BANNER --------------------------
body
  header
    .banner
      img
        height: 95vh
        width: 80vw
        margin-left: 10vw
        padding-top: 90px
  .body
    position: relative
    h3
      +h3
      word-spacing: 5px
      font-family: 'Source Sans Pro', sans-serif
      text-align: center
      color: $green
    .social-media
      position: absolute
      right: 20px
      top: 10px
      img
        width: 20px
        height: 20px
        margin-left: 20px

//---------- MEDIA QUERIES --------------


// ------------------- IPHONE  5 --------------------
//------------- IPHONE 5
+breakpoint(s-mobile)
  .wrapper
    overflow-x: hidden
    header
      .banner
        img
          width: 100vw
    .body
      h3
        font-size: 1em
      .social-media
        top: 20px
        left: 50%
        transform: translateX(-50%)
        img
          width: 10px
          height: 10px


//------------- IPHONE 5 LANDSCAPE ---------------
+breakpoint(s-mobile-land)
  .wrapper
    overflow-x: hidden
    header
      .banner
        img
          width: 80vw
    .body
      h3
        font-size: 1em
      .social-media
        top: 20px
        transform: translateX(-50%)
        img
          width: 10px
          height: 10px


//------------- IPHONE 6 ------------------
+breakpoint(mobile)
  .wrapper
    overflow-x: hidden
    header
      .banner
        img
          width: 100vw
    .body
      h3
        font-size: 1em
      .social-media
        top: 20px
        left: 50%
        transform: translateX(-50%)
        img
          width: 10px
          height: 10px


  //------------- IPHONE 6 LANDSCAPE ------------------
+breakpoint(mobile-land)
  .wrapper
    overflow-x: hidden
    header
      .banner
        img
          width: 80vw
    .body
      h3
        font-size: 1em
      .social-media
        top: 20px
        transform: translateX(-50%)
        img
          width: 10px
          height: 10px

//------------- IPHONE 6  PLUS------------------
+breakpoint(mobile-plus)
  .wrapper
    overflow-x: hidden
    header
      .banner
        img
          width: 100vw
    .body
      h3
        font-size: 1em
      .social-media
        width: 30%
        top: 20px
        left: 50%
        transform: translateX(-50%)
        img
          width: 10px
          height: 10px

//------------- IPHONE 6  PLUS LANDSCAPE------------------
+breakpoint(mobile-plus-land)
  .wrapper
    overflow-x: hidden
    header
      .banner
        img
          width: 80vw
    .body
      h3
        font-size: 1em
      .social-media
        top: 20px
        transform: translateX(-50%)
        img
          width: 10px
          height: 10px


//------------- IPAD PRO ------------------
+breakpoint(ipad-pro)
  .wrapper
    overflow-x: hidden
    header
      .banner
        img
          padding-top: 120px
