body
  nav
    position: fixed
    z-index: 20
    top: 10px
    left: 0px
    background-color: transparent
    #nav-logo
      height: 8vh
      width: 10vw
    a
      +a
      margin-left: 100px
      display: inline-block
      &:nth-child(2), &:nth-child(3), &:nth-child(4), &:nth-child(5), &:nth-child(6)
        padding-bottom: 2px
        position: relative
        //center the links with the logo
        top: -20px
        &:after
          background: transparent
          content: ''
          display: block
          height: 2px
          margin: auto
          transition: width .5s ease, background-color .5s ease
          width: 0px
        &:hover:after
          background: $green
          width: 100%
    .current
      color: $green

//when navbar is scrolled, background-color is changed, logo is changed, font-color is changed
.navbar-fixed-top.scrolled
  width: 100%
  padding-top: 10px
  background-color: rgba(#666060, 0.56) !important
  transition: background-color 100ms linear
  #nav-logo
    content: url("../../images/aqua_S_logo_white.png")
  .nav-link
    color: white
  .current
    color: $blue


//---------- MEDIA QUERIES --------------
// --------------IPHONE 5 -------------------
+breakpoint(s-mobile)
  body
    nav
      #nav-logo
        height: 10vh
        width: 20vw
        margin-left: 10px
      a
        margin-left: 120px
        &:nth-child(2), &:nth-child(3), &:nth-child(4), &:nth-child(5), &:nth-child(6)
          display: none


// --------------IPHONE 5 LANDSCAPE-------------------
+breakpoint(s-mobile-land)
  body
    nav
      #nav-logo
        height: 15vh
        width: 20vw
        margin-left: 20vw
      a
        margin-left: 120px
        &:nth-child(2), &:nth-child(3), &:nth-child(4), &:nth-child(5), &:nth-child(6)
          display: none




// --------------IPHONE 6 -------------------
+breakpoint(mobile)
  body
    nav
      #nav-logo
        height: 10vh
        width: 20vw
        margin-left: 20px
      a
        margin-left: 120px
        &:nth-child(2), &:nth-child(3), &:nth-child(4), &:nth-child(5), &:nth-child(6)
          display: none

// --------------IPHONE 6 LANDSCAPE-------------------
+breakpoint(mobile-land)
  body
    nav
      #nav-logo
        height: 15vh
        width: 20vw
        margin-left: 24vw
      a
        margin-left: 120px
        &:nth-child(2), &:nth-child(3), &:nth-child(4), &:nth-child(5), &:nth-child(6)
          display: none





// --------------IPHONE 6 PLUS -------------------
+breakpoint(mobile-plus)
  body
    nav
      #nav-logo
        height: 10vh
        width: 20vw
        margin-left: 40px
      a
        margin-left: 120px
        &:nth-child(2), &:nth-child(3), &:nth-child(4), &:nth-child(5), &:nth-child(6)
          display: none

// --------------IPHONE 6 PLUS LANDSCAPE -------------------
+breakpoint(mobile-plus-land)
  body
    nav
      #nav-logo
        height: 15vh
        width: 20vw
        margin-left: 25vw
      a
        margin-left: 120px
        &:nth-child(2), &:nth-child(3), &:nth-child(4), &:nth-child(5), &:nth-child(6)
          display: none






// --------------IPAD -------------------
+breakpoint(ipad)
  body
    nav
      #nav-logo
        width: 20vw
        height: 7vh
      a
        margin-left: 20px

// --------------IPAD LANDSCAPE -------------------
+breakpoint(ipad-land)
  body
    nav
      #nav-logo
        width: 20vw
        height: 12vh
      a
        margin-left: 20px


// --------------IPAD PRO -------------------
+breakpoint(ipad-pro)
  body
    nav
      #nav-logo
        width: 20vw
        height: 7vh
        margin-left: 50px
      a
        margin-left: 20px
        font-size: 1.5em
