$body-font: -apple-system, BlinkMacSystemFont, sans-serif
$lora: 'Lora', serif
$font-color: #626366
$averia: 'averia serif libre', serif
$bodoni: 'bodoni 72',serif
$bg-color: #303030
$blue: #4E8ABF
$green: #469C97
